body {
  background-color: #2C2F33;
}
.container {
  width: 1200px;
}

#graphic {
  padding-top: 60px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 500px;
  top: 0;
  z-index: 90;
  padding-bottom: 200px;
}

.step {
  margin-bottom: 300px;
  font-family: fira-sans, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: ghostwhite;
}

.step-map {
  width: 500px;
  font-family: fira-sans, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: ghostwhite;
}

.title-map {
  font-family: fira-sans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #ffffff;
  line-height: 1.2em;
}

.step-placeholder {
  margin-bottom: 200px;
  font-family: fira-sans, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: ghostwhite;
}

#sections .title {
  font-family: fira-sans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #ffffff;
  line-height: 1.2em;
}


.mainstep {
  margin-bottom: 40%;
  font-family: fira-sans, sans-serif;
  font-size: 30px;
  line-height: 23px;
  color: ghostwhite;
  margin-top: 400px;
  text-align: center;
}

.maintitle {
  font-family: fira-sans, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #7289da;
  line-height: 1.2em;
  margin-top: 400px;
  text-align: center;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  margin-top: 100px;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}
.highlight {
  fill: #008080;
  font-weight: bold;
}

#vis .title {
  font-size:120px;
  fill: #7289da;
  text-anchor: middle;
}

#vis .sub-title {
  font-size: 50px;
  text-anchor: middle;
  fill: #ffffff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}

#freiburg {
  height: 500px !important;
}
.legend {
  line-height: 18px;
  color: #c0c0c0;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}